@model EntityLayer.Concrete.Feature

@{
    ViewData["Title"] = "Öne Çıkan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "Feature", FormMethod.Post, new { @class = "card-body px-lg-5 py-lg-5" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Header, "Başlık", new { @class = "form-label" })
        <div class="input-group input-group-alternative mb-3">
            @Html.TextBoxFor(x => x.Header, new { @class = "form-control", placeholder = "Başlık"})
        </div>
        @Html.ValidationMessageFor(x => x.Header, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Name, "İsim", new { @class = "form-label" })
        <div class="input-group input-group-alternative mb-3">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "İsim" })
        </div>
        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Title, "Açıklama", new { @class = "form-label" })
        <div class="input-group input-group-alternative mb-3">
            @Html.TextAreaFor(x => x.Title, new { @class = "form-control", placeholder = "Açıklama", rows = 3 })
        </div>
        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4">Düzenle</button>
    </div>
}
