@model List<EntityLayer.Concrete.Experience>
@{
    ViewData["Title"] = "Deneyimler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">Deneyim</th>
                <th scope="col">Tarih</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Düzenle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="media align-items-center">
                            <div class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="@item.ImageUrl">
                            </div>
                            <div class="media-body">
                                <span class="name mb-0 text-sm">@item.Name</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @(
                            !string.IsNullOrEmpty(item.Description)
                            ? (item.Description.Length > 30
                            ? item.Description.Substring(0, 30) + "..."
                            : item.Description)
                            : "Açıklama mevcut değil"
                         )
                    </td>
                    <td>
                        <a href="@Url.Action("EditExperience", "Experience", new { id = item.Id })" class="btn btn-sm btn-primary">Düzenle</a>
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteExperience", "Experience", new { id = item.Id })" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

